<!DOCTYPE html>
<html>
  <head>
    <title>Login and Registration Page</title>
  </head>
  <body>
    <h1>Login Here</h1>

    <form class="" action="/login" method="post">
      <ul>
        <li><input type="text" name="email" value=""></li>
        <li><input type="password" name="password" value="password"></li>
        <li><input type="submit" name="" value="Login"></li>
      </ul>
    </form>

    <form class="" action="/login" method="post">
      <ul>
        <li><input type="text" name="first_name" value="bob"></li>
        <li><input type="text" name="last_name" value="smith"></li>
        <li><input type="text" name="email" value="bob@bob.com"></li>
        <li><input type="password" name="password" value="password"></li>
        <li><input type="password" name="confirm_password" value="password"></li>
        <li><input type="submit" name="" value="Register Test"></li>
      </ul>
    </form>

  </body>
</html>
